*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    color: azure;
}

.content{
    z-index: 2;  /*Layer superior*/
}

.overlay
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1; /*Above imagine */
    opacity: .55
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, 
.hour, 
.minute, 
.second{
    font-size: 3rem;
}



.image-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

